
langchain-openai
langchain-anthropic
langchain-community
langgraph==0.2.53
unstructured
chromadb
langgraph-checkpoint==2.0.6
langgraph-sdk==0.1.36

uvicorn
fastapi
websockets
pydantic
pydantic-settings
python-dotenv
streamlit

jupyter